<?php
  /* 
   * Paging
   */


  $iTotalRecords = $count;
  $iDisplayLength = intval($_REQUEST['length']);
  $iDisplayLength = $iDisplayLength < 0 ? $iTotalRecords : $iDisplayLength; 
  $iDisplayStart = intval($_REQUEST['start']);
  $sEcho = intval($_REQUEST['draw']);
  
   $record = array();
 

  $end = $iDisplayStart + $iDisplayLength;
  $end = $end > $iTotalRecords ? $iTotalRecords : $end;

  $status_list = array(
    array("success" => "Approval"),
    array("danger" => "Rejected"),
    array("danger" => "Pending")

  );

    foreach ($locationlist as $locationlists) {
        $records = array();
     $records[] = $locationlists['Order']['orderno'];
     $records[] = $locationlists['Client']['company_name'];
     $records[] =  $locationlists['Order']['dispatchcode'];
      $records[] = '<a href="'.WEBSITE_PATH.'orders/view/'.base64_encode($locationlists['Order']['id']).'" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" title="View"></span></a>';
      $record['data'][] = $records;
    }
  //pr($record);exit;

  /*if (isset($_REQUEST["customActionType"]) && $_REQUEST["customActionType"] == "group_action") {
            if($_REQUEST['customActionName'] == 'active'){
                $id = $_POST['id'];
                exit;
            }
    
*/
    $record["customActionStatus"] = "OK"; // pass custom message(useful for getting status of group actions)
    //$record["customActionMessage"] = ""; // pass custom message(useful for getting status of group actions)
 // }

  $record["draw"] = $sEcho;
  $record["recordsTotal"] = $iTotalRecords;
  $record["recordsFiltered"] = $iTotalRecords;
  echo json_encode($record); exit;
?>
