﻿tr th {
  text-align: center;
}	
.errormsg {
  color: #a94442;
  font-weight: 700;
}
.success{
  color: #3c763d;
  font-weight: 700;
}
.form-section {
  text-align: center;
}
.view-label{
width:28% !important
}
.view-data{
width:28% !important
}
#datatable_ajax a.btn {  padding: 2px 4px;
}
.separatordiv{
	/*border: 1px solid;*/
	margin-left: 3px !important;
    margin-right: 3px !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}
.portlet-body .control-label{
	font-weight : 700;
}
.portlet-body hr{
  border-color: grey;
}
.btn-double{
  background-color: #5cb85c!important;
}
.required {color: red;}.td_center > td {
  text-align: center;
}

#spinner {
    height: 100%;
    width: 100%;
}
.load_bg {
    background: rgba(0, 0, 0, 0) url("../img/load_bg.png") repeat scroll left top;
    display: none;
    float: left;  
    height: 100%;
    left: 0;
    margin: 0;
    padding: 185px 0 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
}
.numalign{
  text-align:right;
  padding-right: 10px!important;
  margin-right:10px;
  margin-left:3px;
}.custom_action {
  float: right;
}
.bigdrop {
    width: 300px !important;
}
/* Align vertically a column */
.v-align {
  vertical-align: middle !important;
}
.certificate .table-scrollable{
  margin:0px!important;
}
.select2-container--bootstrap .select2-selection--single{
  padding: 6px!important;
}
.form-control{
  padding: 6px!important;
}
.invalid_field{
  border-color: #FF0000!important;
  border-width:1px!important;
  border-style:solid!important;
}
.align_text{ text-align:right}
#bill_address {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid #c2cad8;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: auto;
    min-height: 50px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 100%;
}
.form-actions{
  padding: 10px!important;
}tr.border_bottom td {
  border-bottom:1pt solid black;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
 border-top:1pt solid black;
}
tr.border_total td{
border-right: 1px solid #000;
}
/*html {
    color: #555!important;
    font-family: "Helvetica Neue",Arial,sans-serif!important;
    font-size: 12px!important;
    line-height: 18px!important;
}*/
.form-body *{font-size : 12px!important;}
.help-block{margin-bottom: -7px!important;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
 
    padding-left: 10px !important;
    padding-right: 10px !important;
 
}
.view-label{ padding-bottom: 7px!important;}
.page-title{ margin:15px 0!important;}
div.border { border-bottom: 1px solid #000; }
hr {height:1px; border:none; color:#000; background-color:#000; width:100%; text-align:center; margin: 0 auto;}
#proforma_table1 td {vertical-align: top;word-break: break-all;}
.input-group-addon > i{ color:#000000 !important;}
.form-group .required { padding-left: 0px !important;}
.doc_file{
  font-family:'Tahoma';font-size:11px;
}
.bank_details tr{
padding:2px;
}
.notes_item tr{
 margin:20px!important;
}
.notes_padd {
    padding-bottom:5px;
}
.bs-callout-info {
    border-left-color: #1b809e !important;
}
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    
    padding: 0px 20px;
}
.bs-callout-info h4 {
    color: #1b809e;
    border-bottom: 1px solid;
}
.std_name {
  float: right;
  margin: 0 auto;
  padding: 0 204px;
}
/*.modifieddate{
  max-width:100px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;   
  -o-text-overflow: ellipsis; 
}*/
/*Start : Apply css to sidebar portion for desktop only*/
@media screen and (min-width: 800px) {
  .page-header.navbar .page-logo{
     width: 165px !important;
     padding-left: 3px !important;
     padding-right: 3px !important;
  }
  .page-sidebar{
    width: 165px !important; 
  }
  .page-sidebar *{
    font-size: 12px !important; color: #fff;
  }
  .page-sidebar i {
    color: white !important;
  }
  .page-content-wrapper .page-content{
    margin-left: 165px!important;
  }
}
/*End : Apply css to sidebar portion for desktop only*/

/*Start : Apply css index page means datatable listing only*/
.portlet-body *{font-size: 12px!important;}
.datatable_ajax td{padding: 5px!important;}
.portlet-title{padding:5px 20px!important; }
.dataTables_extended_wrapper{padding: 0px!important;}
.page-content-white .page-title {font-size: 20px!important;}
/*End : Apply css index page means datatable listing only*/

.dispalydetails {
  color:brown!important;
}
.paddingleft{
  padding-left: 3px;
}
.basicdisplayinfo{
  font-size:11px!important;
}
/* Checkbox Css */
.checkbo_container { border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll; }
.showinfo + tr {
    border-bottom: 2px solid lightblue !important;
}