<?php
  /* 
   * Paging
   */


  $iTotalRecords = $count;
  $iDisplayLength = intval($_REQUEST['length']);
  $iDisplayLength = $iDisplayLength < 0 ? $iTotalRecords : $iDisplayLength; 
  $iDisplayStart = intval($_REQUEST['start']);
  $sEcho = intval($_REQUEST['draw']);
  
  $records = array();
  $records["data"] = array(); 

  $end = $iDisplayStart + $iDisplayLength;
  $end = $end > $iTotalRecords ? $iTotalRecords : $end;

 
    foreach ($item as $items) {
      $records["data"][] = array('<input type="checkbox" name="id[]" value="'.$items['Item']['id'].'">',
      $items['Standard']['standard_name'],
      $items['Grade']['grade_name'],
      $items['Item']['od_nb'],
      $items['Item']['wt_nb'],
      $items['Item']['od_mm'],
      $items['Item']['wt_mm'],
      $items['Item']['calc_ratio'],
      $this->requestAction('App/date_ymdhis_to_dmyhis/'.strtotime($items['Item']['modified'])),
      $items['User']['first_name']." ".$items['User']['last_name'],
       '<a href="'.WEBSITE_PATH.'items/add/'.base64_encode($items['Item']['id']).'" class="btn btn-success"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
      <a href="'.WEBSITE_PATH.'items/delete/'.base64_encode($items['Item']['id']).'" class="btn btn-danger" title="Delete" id="delete" data-confirm="Are you sure to delete this standard?"><span class="glyphicon glyphicon-trash"></span></a>',);
    }
  /*if (isset($_REQUEST["customActionType"]) && $_REQUEST["customActionType"] == "group_action") {
            if($_REQUEST['customActionName'] == 'active'){
                $id = $_POST['id'];
                exit;
            }
    
*/
    $records["customActionStatus"] = "OK"; // pass custom message(useful for getting status of group actions)
    $records["customActionMessage"] = ""; // pass custom message(useful for getting status of group actions)
 // }

  $records["draw"] = $sEcho;
  $records["recordsTotal"] = $iTotalRecords;
  $records["recordsFiltered"] = $iTotalRecords;
  
  echo json_encode($records); exit;
?>
