<h3 class="page-title"> 
                        <!--<small>form layouts</small>-->
                    </h3>
  <?php echo $this->Session->flash();?>                
<div class="portlet box"> 
                                            <div class="portlet-body form">
                                                <!-- BEGIN FORM-->
                                                    <div class="form-body">
                                                    
		<div class="row errorImage">
			<img src="<?php echo ROOT_PATH; ?>img/access_denied.jpg">
			<!-- access_denied.jpg --> <!-- Access-Denied_finalll.jpg -->
		</div>
	</div>
                                                <!-- END FORM-->
                                            </div>
                                        </div>
                                        </div>


