 <?php

  $setting= $this->Session->read('setting_data'); /*Read setting table's data*/
  
  $html = '<style>
        table {float: none;margin: 0 auto;width: 100%;border-spacing: 0;}
        .flip-scroll table, .table td .img-responsive {width: 100%;}
        .table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
            border: 1px solid #e7ecf1
        }
        .table {margin-bottom: 20px;width: 100%;}
        p  {
    border-style: solid;
    border-left: thick double #ff0000;
}
        </style>'; 

    $html .= '<html>
              <head>
                    <title>Proforma Invoice</title>
              </head>';
              
  echo $html;
?>